<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Stock Tracker</title>
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="#">Watchlists</a>
      <a href="#">Login</a>
    </nav>
    <main>
      <h1><%= title %></h1>
    </main>
  </body>
</html>
