<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
    <script defer src="/javascripts/script.js"></script>
    <title>Stocks Tracker</title>
  </head>
  <body>
    <nav>
      <!-- <img id="logo-img" src="/images/coin.png" alt="wall-street" /> -->
      <a href="/">Home</a>
      <a href="/tickers">Tickers</a>
      <% if (user) { %>
      <img id="logo-img" src="<%= user.avatar %>" alt="user avatar" />
      <!-- <a href="/watchlist/:id/stocks/new">Add Stock to Watchlist</a> -->
      <a href="/watchlists">Watchlists</a>
      <a href="/logout">Log Out</a>
      <% } else { %>
      <a href="/auth/google">Log In</a>
      <% } %>
    </nav>
    <main>
      <h1><%= title %></h1>
    </main>
  </body>
</html>
