<%- include('./partials/header') %>
<p>
  Welcome to <span style="color: red"><%= title %></span> App that tracks a
  watchlists of your best market trades.
</p>
<img id="bull-image" src="/images/bull-market.jpg" alt="stock-market-bull" />
<%- include('./partials/footer') %>
