<%- include('./partials/header') %>



<p>
  Welcome to <span style="color: red"><%= title %></span> App that tracks a
  watchlists of your best market trades.
</p>
<img id="bull-image" src="/images/bull-market.jpg" alt="stock-market-bull" />



<!-- <img 
style="
background-size: cover; background-repeat: no-repeat; 
background-position: center; object-fit: contain; 
width: 100vh; border-radius: 8px; margin-top: 10px;   
"
src="/images/bull-market.jpg" alt="stock"  /> -->





<%- include('./partials/footer') %>
