@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Press+Start+2P&family=Varela+Round&display=swap'); 

/* *{
  margin: 0; 
  padding: 0; 
} */

:root {
  --red-color: red;
  --a-tag-color: #00B7FF; 
  --li--hover-color: black;
  --teal-color: teal; 
  --magenta-color: megenta; 
  --dodgerblue-color: dodgerblue; 
  --palegoldenrod-color: palegoldenrod;
  --linen-color: linen;
  --saddlebrown-color: saddlebrown; 
  --seethrough-lightgrey-color: #CCCCCC88; 
}


/* ---------- HomePage View ----------  */

img.user-avatar {
  max-width: 60px; 
  max-height: 60px; 
  border: 1px solid red; 
  object-fit: contain; /* maintain aspect ratio */
  position: absolute; 
  border-radius: 50%; 
  top: 5; /* 5 */
  left: 10px; /* 18 */

  /* transform: rotate(15deg);  */
  opacity: 1; 
  transition: opacity 0.3s ease; 
}

img.user-avatar:hover {
  max-width: 60px; 
  max-height: 60px; 
  object-fit: contain; /* maintain aspect ratio */
  position: absolute; 
  border-radius: 50%; 
  border: 1px solid green;
  top: 5; 
  left: 10px; 
  transform: rotate(15deg); 
  opacity: 0.8; 
  cursor: pointer;
}

img#bull-image {
  max-width: 600px; 
  max-height: 600px; 
  object-fit: contain; /* maintain aspect ratio */
  border-radius: 8px;
  border: 0.5px solid red; 
}

p#welcome-words {
  color: white; 
  position: fixed; 
  top: 21px; 
  left: 85px; 
}

p#welcome-words span {
  color: greenyellow; 
}

body > nav {
  display: flex; 
  justify-content: flex-end; 
  align-items: start;
  background-color: red;
  gap: 18px; 
  padding: 15px; 
  opacity: 0.8; 

  background-image: url("../images/stock-price.jpg"); 
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center; 
  border-bottom: 2px solid red; 
}


a {
  color: white;
  text-decoration: none;
  background: rgb(9, 124, 9); 
  border-radius: 8px; 
  padding: 5px; 
}

a:hover {
  color: #00B7FF;
  text-decoration: none;
  background: greenyellow; 
  border-radius: 8px; 
  padding: 5px; 
}

body {
  font-family: "Varela Round", system-ui; 
  font-weight: 400; 
  font-style: normal; 
  text-align: center;
  /* background-color: #00B7FF; */
  color: black;
  box-sizing: border-box;
  margin: 0; 
  min-height: 100vh; 

  /* background-image: url("../images/pink-skyline.jpg"); 
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center;  */
}


#dark-mode-icon {
  position: fixed; 
  bottom: 32px; 
  right: 32px; 
  cursor: pointer;
  opacity: 1; 
  transition: opacity 0.3s ease; 
}

#dark-mode-icon:hover {
  position: fixed; 
  bottom: 32px; 
  right: 32px; 
  opacity: 0.7; 
  cursor: pointer;
}


/* ---------- /tickers View ----------  */


table {
  /* border: 1px solid red;  */
  margin: auto; 
  width: 90vw; 
  border-collapse: collapse; 
  height: 200px; 
  overflow-y: auto; 
}

td ion-icon {
  font-size: 20px; 
  color: teal; 
  font-weight: bold;
  --ionicon-stroke-width: 50px; 
}

td ion-icon:hover {
  font-size: 20px; 
  color: teal; 
  font-weight: bold;
  --ionicon-stroke-width: 50px; 
  opacity: 0.7; 
  cursor: pointer;
}

table thead th {
  font-weight: bolder; 
  color: red; 
  font-size: 18px; 
}

table tbody td {
  border-bottom: 1px solid black; 
}

/* table tbody td:nth-child(1) {
  border-left: 1px solid red; 
}

table tbody td:nth-last-child(1) {
  border-right: 1px solid red; 
} */

/* table tbody td:nth-last-child(-n+2) {
  border-collapse: collapse;
  border-bottom: 1px solid purple; 
} */


/* ---------- /watchlists View ----------  */


#watchlist-wrapper {
  display: grid; 
  grid-template-rows: repeat(3, 150px);
  grid-template-columns: repeat(5, 150px);
  grid-gap: 1em; 
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.watchlist-item a {
  border: 1px solid goldenrod; 
  /* background: green; */
  border-radius: 8px;
  height: 150px; 
  display: flex; 
  justify-content: center;
  align-items: center;
  font-weight: 800;
  font-size: 30px;

  background-image: url("../images/stock.jpg"); 
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center; 
}

.watchlist-item a:hover {
  border: 1px solid goldenrod; 
  /* background: green; */
  border-radius: 8px;
  /* height: 200px;  */
  display: flex; 
  justify-content: center;
  align-items: center;
  font-weight: 800;
  background-color: rgba(255,0,0,0.8); 
  cursor: pointer;

  background-image: url("../images/stock.jpg"); 
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center; 
}

img#user-avatar {
  border: 2px solid red; 
  border-radius: 50%; 
  max-width: 50px;
  max-height: 50px;
  object-fit: contain;
  position: absolute; 
  top: 6px; /* 5 */
  left: 25px; /* 18 */
  opacity: 1; 
  transition: opacity 0.3s ease; 
}


/* ---------- /watchlists/:id View ----------  */

#watchlist-searchbox input {
  height: 25px; 
  width: 150px; 
  border: 1px solid red;
  border-radius: 5px;
  text-align: center;
  font-size: 15px;
  /* font-weight: bold; */
}

#watchlist-searchbox ion-icon {
  font-size: 25px;
  color: red; 
}

#watchlist-searchbox ion-icon:hover {
  font-size: 25px;
  color: red; 
  opacity: 0.7;
}

button#delete-ticker-from-watchlist {
  background-color: transparent;
  border: none; 
  cursor: none; 
}



/* ---------- Media Query ----------  */

@media (max-width: 700px) {
  img#bull-image {
    max-width: 400px; 
    max-height: 400px; 
  }

  body > nav {
    display: flex; 
    justify-content: flex-start;
    align-items: end; 
    width: 100%; 
    background-color: blue;
  }

  img.user-avatar {
    position: fixed; 
    top: 5px; 
    right: 10px; 
  }
}

/* @media (max-width: 380) {
  body > nav {
    display: flex; 
    flex-direction: column; 
    justify-content: flex-end;
    align-items: end; 
    font-size: 5px; 
  }

  img#bull-image {
    width: 150px; 
  }
}  */

@media only screen and (min-width: 400px) and (max-width: 600px) {

  body > nav {
    display: flex; 
    flex-direction: row; 
    justify-content: flex-start;
    align-items: end; 
    /* width: 100%;  */
    /* font-size: 5px;  */
    /* background: pink;  */
  }

  img#bull-image {
    width: 350px; 
    height: 350px; 
    border: none; 
  }
}



/* ---------- Footer View ----------  */

footer {
  text-align: center;
  color: red;
  font-size: .9rem;
  /* background: red;  */
  position: fixed; 
  bottom: 0; 
  width: 100%; 
  padding: 10px; 
}