@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Press+Start+2P&family=Varela+Round&display=swap'); 

body {
  font-family: "Varela Round", system-ui; 
  font-weight: 400; 
  font-style: normal; 
  text-align: center;
  background-color: #00B7FF;
  color: white;
  box-sizing: border-box;
  margin: 0; 
}


body > nav {
  display: flex; 
  justify-content: flex-end; 
  align-items: center;
  background-color: red;
  gap: 18px; 
  padding: 20px; 
}

a {
  color: #00B7FF;
  text-decoration: none;
  background: black; 
  border-radius: 8px; 
  padding: 5px; 
}

a:hover {
  color: #00B7FF;
  text-decoration: none;
  background: greenyellow; 
  border-radius: 8px; 
  padding: 5px; 
}















footer {
  text-align: center;
  color: red;
  font-size: .9rem;
  /* background: red;  */
  position: fixed; 
  bottom: 0; 
  width: 100%; 
  padding: 20px; 
}