@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Press+Start+2P&family=Varela+Round&display=swap'); 

/* *{
  margin: 0; 
  padding: 0; 
} */

:root {
  --red-color: red;
  --a-tag-color: #00B7FF; 
  --li--hover-color: black;
  --teal-color: teal; 
  --magenta-color: megenta; 
  --dodgerblue-color: dodgerblue; 
  --palegoldenrod-color: palegoldenrod;
  --linen-color: linen;
  --saddlebrown-color: saddlebrown; 
  --seethrough-lightgrey-color: #CCCCCC88; 
}

#logo-img {
  max-width: 48px; 
  max-height: 48px; 
  object-fit: contain; /* maintain aspect ratio */
  position: absolute; 
  /* border-radius: 50%;  */
  top: 5px; /* 5 */
  left: 18px; /* 18 */

  /* transform: rotate(15deg);  */
  opacity: 1; 
  transition: opacity 0.3s ease; 
}

#logo-img:hover {
  max-width: 48px; 
  max-height: 48px; 
  object-fit: contain; /* maintain aspect ratio */
  position: absolute; 
  /* border-radius: 50%;  */
  top: 5px; 
  left: 18px; 
  /* transform: rotate(15deg);  */
  opacity: 0.8; 
  cursor: pointer;
}

body > nav {
  display: flex; 
  justify-content: flex-end; 
  align-items: center;
  background-color: var(--red-color);
  gap: 18px; 
  padding: 15px; 
  opacity: 0.8; 

  /* background-image: url("../images/bull-market.jpg"); 
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center;  */
}


a {
  color: #00B7FF;
  text-decoration: none;
  background: black; 
  border-radius: 8px; 
  padding: 5px; 
}

a:hover {
  color: #00B7FF;
  text-decoration: none;
  background: greenyellow; 
  border-radius: 8px; 
  padding: 5px; 
}

body {
  font-family: "Varela Round", system-ui; 
  font-weight: 400; 
  font-style: normal; 
  text-align: center;
  /* background-color: #00B7FF; */
  color: black;
  box-sizing: border-box;
  margin: 0; 
  min-height: 100vh; 

  /* background-image: url("../images/pink-skyline.jpg"); 
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center;  */

}




footer {
  text-align: center;
  color: red;
  font-size: .9rem;
  /* background: red;  */
  position: fixed; 
  bottom: 0; 
  width: 100%; 
  padding: 20px; 
}

#dark-mode-icon {
  position: fixed; 
  bottom: 32px; 
  right: 32px; 
  cursor: pointer;
  opacity: 1; 
  transition: opacity 0.3s ease; 
}

#dark-mode-icon:hover {
  position: fixed; 
  bottom: 32px; 
  right: 32px; 
  opacity: 0.7; 
  cursor: pointer;
}

