<%- include('../partials/header') %> 

<form id="new-watchlist-form" action="/watchlists" method="POST">
  <input type="text" name="name" placeholder="Enter a new watchlist name ...">
  <button type="submit">Add Watchlist</button>
</form>


<%- include('../partials/footer') %>
